{% extends "index.html" %}

{% block body_content %}
<button id="create-task-btn" type="button" onclick="create_a_new_task">Create Task</button>
<!-- <form>
    <label for="title">title:</label>
    <input type="text" id="title" name="title">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <label for="due-date">Due Date:</label>
    <input type="date" id="due-date" name="due-date">
    <button type="submit">Add Task</button>
</form> -->
{% endblock %}